{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">

                {% if post.author == request.user %}
                	<a class="mr-2" href="{% url 'users:profile' %}">{{ post.author }}</a>
                {% else %}
                    <a class="mr-2" href="{% url 'users:another_profile' post.author %}">{{ post.author }}</a>
                {% endif %}



              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:60 }}</p>
          </div>
        </article>
    {% endfor %}

    <div class="pagination justify-content-center">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4 mr-1" href="?page=1"><<</a>
                <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">></a>
                <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">>></a>
            {% endif %}

        {% endif %}
    </div>
{% endblock content %}